﻿@charset "utf-8";

/* Body / Background */

* {
	font-family: Arial, Helvetica, 'Helvetica Neue', Verdana, sans-serif;
	font-size: 12px;
}

html, body, #form1, #page {
	height: 100%;
	*height: auto; /*IE7 height:100% fails*/
	margin: 0;
}

body {
	background-color: #2b4571;
	padding: 0px;
}

/* Font */

h1, h2, h3, h4 {
	-webkit-transform: rotate(-0.0000000001deg); /* A little antialias hack for chrome */
}

img { border: 0; }

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Primary COLOR */

.newsbox .feedList h4 a, #sitedescription h1, a { color: #143076; }

/* Primary BACKGROUND */

.primary-bgcolor,
a.ui-btn-big,
.newsbox .feedList h4 a:hover,
#slider #imageSliderNav a.activeSlide {
	background-color: #ec008c;
	color: #FFF;
}

.subqaletters a { display: inline !important; }

a.ui-btn-big {
	background-image: url(/images/ui-btn-big-arrow.png);
	background-position: right center;
	background-repeat: no-repeat;
	border-bottom: solid 1px rgba(0, 0, 0, 0.496094);
	border-radius: 5px;
	color: white !important;
	display: inline-block;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	line-height: 14px;
	padding: 12px 50px 12px 19px;
	text-decoration: none;
}


a:link, a:visited, a:active {
	display: block;
	outline: none;
	_background: transparent none;
}

#page {
	-moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, .7);
	-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, .7);
	background: #FFF;
	border: solid #000 1px;
	border-bottom: solid #000 0px;
	border-top: solid #000 0px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, .7);
	display: table;
	margin: 0px auto;
	padding: 0 10px;
	position: relative;
	text-align: left;
	width: 980px;
}

/* Header */

#header, #slider, #content { clear: both; }

#footer-end a, .breadcrumb a {
	border: none;
	display: inline-block !important;
}

#sitedescription h1 {
	font-size: 16px;
	font-weight: normal;
	line-height: 0.5em;
	position: relative;
}

#mainmenu {
	background: #5670ab;
	clear: both;
	margin: 0px;
	padding: 0px;
	position: relative;
	z-index: 999;
	zoom: 1;
	_width: 100%;
}

#mainmenu:after { }

#mainmenu ul {
	background: #5670ab;
	border: 1px solid #5670ab;
	list-style: none;
	*margin: 0;
	min-height: 34px;
	padding: 0px;
}

#mainmenu ul li {
	border-right: 1px solid #6880b3;
	cursor: pointer;
	float: left;
	font-size: 13px;
	position: relative;
}

#mainmenu ul li a {
	background: #5670ab;
	color: #fff;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
}

#mainmenu ul > li:hover > a,
#mainmenu ul li.current a, #mainmenu ul li.selected a {
	background-color: #fff;
	color: #000;
}
           

#mainmenu ul ul {
	border: 1px solid #5670ab;
	border-top: 0;
	display: none;
	*left: 0;
	position: absolute;
	top: 100%;
	width: 200px;
	z-index: 9999;
}

#mainmenu ul li:hover > ul, #mainmenu li > ul > li:hover ul { display: block; }

#mainmenu ul li li {
	background-image: none;
	border: 0;
	float: none !important;
}

#mainmenu ul ul ul {
	left: 100%;
	position: absolute;
	top: 0;
}

#header .welcomectrl {
	color: #fff;
	font-size: 12px;
	position: absolute;
	right: 5px;
	top: 10px;
}

#header .welcomectrl a, #header .welcomectrl span {
	color: #fff;
	display: inline;
	font-weight: bold;
	text-decoration: none;
}

#header .payrollmenu {
	font-size: 12px;
	position: absolute;
	right: 5px;
	top: 10px;
}

#header .payrollmenu a, #header .welcomectrl span {
	color: #fff;
	display: inline;
	font-weight: bold;
	text-decoration: none;
}

#slider {
	min-height: 10px;
	position: relative;
}

#slider #imageSlider {
	padding: 0px;
	position: relative;
	width: 100%;
}

#slider .imageSlide {
	padding: 0px;
	width: 100%;
}

#slider .imageSliderInfo {
	color: #444;
	float: right;
	margin-right: 9px;
	width: 370px;
}

#slider .imageSliderInfo h2 {
	color: #666;
	font-size: 26px;
}

#slider .imageSliderInfo p {
	color: #666;
	font-size: 20px;
}

#slider .imageSliderImage {
	background: url(/images/imageSliderImageBg.png) top center no-repeat;
	float: left;
	padding: 17px;
	padding-bottom: 27px;
	_background-image: none;
}

#slider .imageSliderImage img { border: 3px #FFF solid; }

#slider #imageSliderNav {
	float: left;
	text-align: center;
	width: 540px;
}

#slider #imageSliderNav a {
	background-color: #dee4e4;
	background-image: url(/images/imageSliderNav.png);
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 20px;
	text-indent: -9000px;
	width: 20px;
	_background-image: none;
}

#slider #imageSliderNav a.activeSlide { }

#content {
	color: #333;
	display: table-row;
	height: 100%;
	padding: 0px;
	padding-bottom: 10px;
	*padding-bottom: 50px;
	position: relative;
}

#leftcontent {
	float: left;
	margin: 0px 11px 20px 0px;
	margin-bottom: 20px;
	padding: 0px;
	width: 185px;
	_overflow: hidden;
}

#leftcontent h1 {
	font-size: 32px;
	font-weight: normal;
	margin: 0px;
}

#leftcontent h2 {
	font-size: 28px;
	font-weight: normal;
}

#leftcontent h3 {
	color: #5268A1;
	font-size: 16px;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
	text-align: center;
}

#leftcontent h4 {
	font-size: 16px;
	font-weight: normal;
}


/* Special left column content */

#leftcontent .feedList {
	margin: 0px;
	padding: 0px;
}

#leftcontent .feedList LI {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#leftcontent .feedList h4 {
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

#leftcontent ul li a {
	color: #5268A1;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

#leftcontent ul li a:hover { }

#leftcontent .feedList h4 a { text-decoration: none; }

#leftcontent .feedList h4 a:hover { text-decoration: underline; }

#leftcontent .feedList p {
	display: inline;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

#leftcontent .feedList small {
	color: #999;
	display: block;
	font-size: 11px;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0px;
}

#rightcontent {
	float: right;
	width: 200px;
}

#rightcontent .hotspot, #leftcontent .hotspot {
	border: 1px solid #5169a1;
	margin: 0 0 10px;
	padding: 5px;
}

#rightcontent .hotspot a {
	color: #5268A1;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

#rightcontent .hotspot a:hover { text-decoration: underline; }

#rightcontent .hotspot ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

#rightcontent .hotspot ul li {
	background: url(../images/blue-arrow.gif) 8px 5px no-repeat;
	border-top: solid #e2e1e1 1px;
	padding: 3px 3px 3px 28px;
}

.hotspot ul li ul li {
	background: transparent none !important;
	padding: 0 !important;
}

#rightcontent .hotspot ul.nobgicons li {
	background: none;
	clear: left;
	padding: 3px 3px 3px 1px;
}

#rightcontent .hotspot ul.nobgicons li img {
	border: 0px;
	float: left;
	margin: 0px 3px 0px 0px;
}

#rightcontent .hotspot ul.nobgicons li a { line-height: 24px; }

#leftcontent ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#leftcontent ul li {
	background: url(../images/blue-arrow.gif) 8px 50% no-repeat;
	border-top: solid #E2E1E1 1px;
	padding: 8px 3px 8px 28px;
}

#rightcontent h4 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

#rightcontent h3 {
	color: #5268A1;
	font-size: 16px;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
	text-align: center;
}

#rightcontent img {
	float: left;
	margin-bottom: 7px;
	margin-right: 15px;
	margin-top: 0px;
}

.middlecontent {
	float: left;
	min-height: 450px;
	position: relative;
	width: 570px;
}

.middlecontent-noright {
	float: left;
	margin-bottom: 50px;
	width: 780px;
}


#footer {
	bottom: 0;
	color: #39528F;
	display: table-row;
	height: 25px;
	*height: auto;
	*position: absolute;
	*width: 98%
}

#footer a {
	color: #39528F;
	text-decoration: none;
}

#footer a:hover { text-decoration: underline; }

#footer h4 {
	color: #394B74;
	font-size: 16px;
	margin: 0px 0px 5px 0px;
}

#footer #footermenu {
	background-color: #E1E1E1;
	float: left;
	height: 150px;
	width: 160px;
}

#footer #footermenu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#footer #footermenu ul li {
	list-style: none;
	margin-bottom: 3px;
	padding: 0px;
}

#footer #footershare {
	float: left;
	height: 150px;
	margin-bottom: 15px;
	margin-right: 15px;
	width: 160px;
}

#footer #footershare ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#footer #footershare ul li {
	list-style: none;
	margin-bottom: 3px;
	padding: 0px;
}

#footer #footershare a { }

#footer #footershare a img {
	-khtml-opacity: 0.25;
	-moz-opacity: 0.25;
	border: none;
	filter: alpha(opacity=25);
	margin-right: 10px;
	opacity: 0.25;
	vertical-align: middle;
}

#footershare a:hover img {
	-khtml-opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
	opacity: 1;
	vertical-align: middle;
}

#footer .footwrp {
	background: #E1E1E1 none;
	margin-bottom: 10px;
    /*position:absolute;
    width:100%;
    bottom:0;*/
}

#footercontact {
	float: right;
	font-size: 11px;
	padding: 10px 15px;
}

#footercontact span {
	color: #39528F;
	font-weight: bold;
}

#footercontact a { display: inline; }

#footer #footerabout {
	float: left;
	width: 500px;
}

#footer #footer-end {
	float: left;
	font-size: 11px !important;
	padding: 10px 15px;
}

/*  COLOR!  */

.whitebox {
	background-color: #dee4e4;
	height: 150px;
}


.cleverTools { background-color: #dee4e4; }


.clear { clear: both; }

.right { float: right; }

.left { float: left; }

.bold {
	color: #222;
	font-weight: bold;
}

.headertop { float: right; }

.headertop a {
	color: #5268A1;
	font-size: 11px;
	font-weight: bold;
	margin: 0px 10px;
}

.headertop div#ContentPlaceHolderDefault_Logoff_1_logoffDiv { text-align: right; }

.headertop div a { margin: 0px 5px 0px 10px; }

.headertop .search { margin: 10px 0; }

.logo {
	float: left;
	margin-top: 5px;
	padding: 0px 0px 0px 14px;
	width: 120px;
	hight: 50px;
}

#ContentPlaceHolderDefault_Logoff_3_logoffDiv {
	position: absolute;
	right: 10px;
	top: 10px;
}

#ContentPlaceHolderDefault_Logoff_3_logoffDiv a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

#rightcontent .hotspot a.moreright {
	float: right;
	font-weight: normal;
	margin: 8px 0px;
}

#rightcontent .hotspot a.moreright img {
	border: 0px;
	margin: 0px;
}

input, select { margin-right: 3px; }

.xsltsearch_form input[type="text"] { width: auto; }

input[type="image"] { border: 0; }

.inputbtn {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #5D79B8;
	border: 1px solid #203767;
	color: white;
	cursor: pointer;
	font-weight: bold;
	padding: 4px;
	text-decoration: none;
}

.inputbtn1 {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #5D79B8;
	border: 1px solid #203767;
	color: white;
	cursor: pointer;
	float: right;
	font-weight: bold;
	padding: 4px;
}

.votingBorder {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #5D79B8;
	border: 1px solid #203767;
	color: white;
	font-weight: bold;
	padding: 4px;
	text-align: center;
	text-decoration: none;
	width: 75px;
}


/* Login page  */

.loginsec {
	background: #edf6ff;
	margin: 0px auto;
	padding: 5px;
	width: 350px;
}

.loginsec h3 {
	background: #5268A1;
	color: #fff;
	margin: -5px;
	margin-bottom: 5px;
	padding: 8px;
}

.loginsec ul {
	margin: 0px;
	padding: 0px;
}

.loginsec ul li {
	list-style: none;
	padding: 10px 0px;
}

.loginsec ul li label {
	float: left;
	font-weight: normal;
	line-height: 22px;
	margin-right: 10px;
	text-align: left;
	width: 80px;
}

.loginsec ul li input[type="text"], .loginsec ul li input[type="password"] {
	border: solid 1px #5D79B8;
	float: left;
	height: 20px;
	line-height: 20px;
	width: 240px;
}

/* meetingroom */

.meetingroom { background: #ECF1FA; }

.meetingroom table.maintable { border-collapse: collapse; }

.meetingroom table.maintable td { border: solid #ABC0EB 1px; }

.meetingroom h4 {
	background-color: #C3D2F1;
	color: #000;
	font-size: 12px;
	line-height: 20px;
	margin: 0px;
	padding: 3px;
}

.meetingroom .meetingleft {
	margin: 0px;
	padding: 0px 5px;
}

.meetingroom .meetingleft li {
	list-style: none;
	padding-bottom: 5px;
}

table.daycalendar {
	border: solid #91A3F4 1px;
	border-collapse: separate !important;
}

.daycalendar table tr td {
	background-color: #A0BAE8;
	border-collapse: collapse !important;
}

.daycalendar {
	background: #C3D3F1;
	height: 16px;
	padding: 5px;
	vertical-align: top;
	width: 77px;
}

.prevNextcalendar {
	background: #ffffff;
	height: 15px;
	padding: 5px;
	vertical-align: top;
	width: 300px;
}

.Titlecalendar table {
	background: #000000;
	height: 20px;
	margin-top: 30px;
	padding: 5px;
	vertical-align: middle;
	width: 10px;
}

.Titlecalendar tr {
	background: #ffffff;
	height: 20px;
	padding: 5px;
	vertical-align: middle;
	width: 10px;
}

.Titlecalendar table tr:first-child td:first-child {
	background-color: Red;
	width: 190px;
}

/* staff offeres */

.staffsec {
	background: #E5E5E5;
	border: solid #ccc 1px;
	margin: 0px auto;
	padding: 0px 20px 20px;
	width: 450px;
}

.staffsec h3 { padding-bottom: 20px; }

.staffsec ul {
	margin: 0px;
	padding: 0px;
}

.staffsec ul li {
	list-style: none;
	padding: 0px 0px 20px 0px;
}

.staffsec ul li label {
	clear: left;
	float: left;
	font-weight: normal;
	line-height: 22px;
	margin-right: 10px;
	text-align: left;
	width: 83px;
}

.staffsec ul li input[type="text"], .loginsec ul li input[type="password"] {
	border: solid 1px #5D79B8;
	float: left;
	height: 20px;
	line-height: 20px;
	width: 240px;
}

.staffsec ul li select {
	border: solid 1px #5D79B8;
	float: left;
	height: 22px;
	line-height: 22px;
	width: 240px;
}

.staffsec1 {
	background: #E5E5E5;
	border: solid #ccc 1px;
	width: 200px;
}

.staffsec2 {
	background: #E5E5E5;
	border: solid #ccc 1px;
	margin: 0px auto;
	padding: 0px 20px 20px;
	width: 500px;
}

.staffsec h3 { padding-bottom: 20px; }

.staffsec ul {
	margin: 0px;
	padding: 0px;
}


/* staffdata */

.staffData {
	padding: 0px;
	width: 100%;
}

.staffData ul {
	margin: 0px;
	padding: 0px;
}

.staffData ul li {
	background: #fff;
	border: solid #ABC0EB 1px;
	border-top: none 0px;
	list-style: none;
	padding: 3px 3px 3px 10px;
}

.staffData ul li:first-child {
	border: solid #ABC0EB 1px;
	list-style: none;
}

.staffData .staffDatabutton {
	padding: 30px 10px 10px 10px;
	text-align: center;
}

/* create new booking popup */

.newbooking {
	background: #E5E5E5;
	color: #222222;
	font-size: 11px;
	padding: 0px;
	width: 100%;
}

.newbooking table tr td {
	color: #222;
	font-size: 11px;
}

.newbooking h2 {
	background-color: #C3D2F1;
	color: #000;
	font-size: 12px;
	line-height: 20px;
	margin: 0px;
	padding: 3px 10px;
}

.newbooking .tablemargin { margin: 10px; }

.newbooking .tablemargin input[type="checkbox"] { float: left; }

.newbooking .tablemargin input[type="checkbox"] + label {
	float: left;
	line-height: 20px;
	margin-left: 5px;
	margin-right: 25px;
}

.newbooking .tablemargin input[type="radio"] { float: left; }

.newbooking .tablemargin input[type="radio"] + label {
	float: left;
	line-height: 20px;
	margin-left: 5px;
	margin-right: 25px;
}

.newbooking .tablemargin .weeklyopt { margin-left: -3px; }

.newbooking .tablemargin .enddate input[type="radio"] + label { width: 85px; }

.newbooking .tablemargin .txtarea {
	height: 80px;
	width: 95%;
}

.apogee ul.staff {
	list-style: none;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

.middlecontent .apogee ul.staff li {
	background: #F9F9F9;
	list-style: none;
	padding: 10px;
}

.apogee ul.staff .dateleft {
	display: block;
	float: right;
	width: 100px;
}

.apogee h2, .apogee h3, .staffData h3, loginsec h3 {
	background-color: #C3D2F1;
	border: 1px solid #8D9FC3;
	color: #000;
	font-size: 12px;
	line-height: 20px;
	margin: 0px;
	padding: 3px 3px 3px 10px;
}

.apogee h2 { border-bottom: 0; }

.apogee h3 { line-height: 15px; }

.apogee h4 { font-size: 11px; }

.dm ul.staff {
	background-color: #E5E5E5;
	border: solid 1px #999;
	border-bottom: 0;
	border-right: 0;
}

.dm ul.staff li {
	border: solid 1px #999;
	border-left: 0;
	border-top: 0;
}

.dm ul.staff h2 {
	background-color: #4E77BB;
	color: #fff;
	margin: 0px;
	padding: 5px 5px;
}

/* Search Resluts */

#xsltsearch { margin: 0; }

#xsltsearch #xsltsearch_summary {
	color: #526aa3;
	margin-bottom: 5px;
}

#xsltsearch_navigation { text-align: center; }

#xsltsearch_navigation a {
	display: inline !important;
	font-size: 11px;
	padding: 0px 5px;
}

#xsltsearch_navigation .disabled { color: #AAA; }

#xsltsearch_stats {
	color: #999;
	font-size: 75%;
}

#xsltsearch_results {
	border-top: solid #dddddd 2px;
	padding-bottom: 20px;
}

#xsltsearch h2 { font-size: 150%; }

#xsltsearch_results .xsltsearch_result {
	border-bottom: solid #dddddd 2px;
	padding: 2px 10px;
}

#xsltsearch_results .xsltsearch_result_title {
	padding-bottom: 5px;
	padding-top: 10px;
}

.xsltsearch_result p {
	margin: 0;
	padding: 0;
}

.xsltsearch_result:hover { background: #f9f9fb; }

.xsltsearch_ordinal {
	font-size: 75%;
	font-weight: bold;
}

.xsltsearch_title { font-weight: bold; }

.xsltsearch_score { font-size: 75%; }

p.xsltsearch_result_description { padding-bottom: 15px; }

.xsltsearch_description strong { background: #f1f1fa; }

/* highlighting */

/* Search Resluts */

.breadcrumb {
	line-height: 24px;
	margin: 5px 0px;
}

.breadcrumb a {
	display: inline !important;
	text-decoration: none;
}

.breadcrumb a:hover { text-decoration: underline; }

/* employeeswipeindetails start */

.swipe-form .form-row {
	float: left;
	margin-right: 20px;
}

.swipe-form .errorlabel span { display: block; }

.swipe-form .form-row .label span {
	line-height: 24px;
	padding-left: 1px;
}

.swipe-form .submitbtn { padding-top: 15px; }

.swipe-form input[type=text] { border: 1px solid #B0BEE0; }

.swipe-detailsgrid { margin-top: 15px; }

.swipe-detailsgrid tr.odd { background-color: #C3D2F1; }

.swipe-detailsgrid .gridtable {
	background-color: #F9F9F9;
	border: solid #ABC0EB 1px;
	line-height: 20px;
}

.swipe-detailsgrid .gridtable tr td, .swipe-detailsgrid .gridtable tr th { padding: 3px; }

.swipe-detailsgrid .gridtable tr td.alternaterow {
	background-color: #fff;
	height: 2px;
	line-height: 2px;
	padding: 0px;
}

/* employeeswipeindetails end */

/* Search For Meeting Room Availability */

.searchroom {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.searchroom li { padding: 5px 0px; }

.searchroom li label.first, .searchroom li span.first {
	display: block;
	float: left;
	line-height: 24px;
	width: 100px;
}

.searchroom li .chkbox {
	background-color: #fafafa;
	border: solid 1px #ccc;
	float: left;
	padding: 2px;
	width: 200px;
}

/* Search For Meeting Room Availability */

ul.listcategory {
	border: solid #ABC0EB 1px;
	float: left;
	margin: 0px;
	padding: 0px;
	padding-top: 20px;
}

.listcategory li {
	border: none 0px;
	display: inline;
	float: left;
	margin-bottom: 25px;
	text-align: center;
	width: 185px;
}

.listcategory li img { margin-bottom: 5px; }

.staffsec3 {
	background: #E5E5E5;
	border: solid #ccc 1px;
	margin: 0px auto;
	padding: 20px 20px 20px;
	text-align: center;
}

.staffsec3 h4 {
	background-color: #C3D2F1;
	color: #000;
	font-size: 12px;
	line-height: 15px;
	margin: 0px;
	padding: 3px 3px 3px 10px;
}


.staffsec4 {
	background: #E5E5E5;
	border: solid #ccc 1px;
	margin: 0px auto;
	padding: 0px;
}

.staffsec4 h4 {
	background-color: #C3D2F1;
	color: #000;
	font-size: 12px;
	line-height: 15px;
	margin: 0px;
	padding: 3px 3px 3px 10px;
}


.rememberme {
	left: 470px;
	position: absolute;
}

.marl15 { margin-left: 15px; }

.marl16 {
	margin-left: 39px;
	margin-top: 18px;
	;
}

.staffData1 ul li {
	background: #fff;
	border: solid #ABC0EB 1px;
	list-style: none;
	padding: 3px 3px 3px 10px;
}

.staffData h3 { border-bottom: 1px solid #8D9FC3; }

.noborder { border: 0 !important; }

/*Last elements*/

li.lastli {
	background: transparent none !important;
	padding-bottom: 20px !important;
	*padding-bottom: 10px !important;
	padding-left: 0 !important;
	position: relative;
}

li.lastli select {
	float: left;
	width: 140px;
}

li.lastli p {
	float: right;
	margin: 0;
	position: absolute;
	*position: static;
	right: 2px;
	*top: -3px;
}

li.lastli p button { padding: 0 3px; }

.middlecontent .staff li li {
	border: 0 !important;
	float: left;
	margin: 0;
	padding: 0 !important;
}

.separater {
	font-size: 11px;
	padding: 0 5px;
}

.addlinks a {
	display: inline !important;
	line-height: 25px;
}

.inputtxt { width: 250px; }

.inputtxtare { height: 100px; }


.navigation ul ul { display: none; }

.navigation ul li:hover > ul { display: block; }

/**/

/*to fix pagenation issue in employee listing*/

.dataTables_length, .dataTables_info, .dataTables_paginate { display: none; }

.dataTables_filter input {
	float: none;
	margin-left: 15px;
	width: 200px;
}

.dataTable {
	margin-top: 40px;
	position: relative;
	width: 100%;
}

.dataTables_wrapper .dataTable { margin: 0 !important; }

.dataTables_filter {
	float: left !important;
	padding: 5px 0;
}


.dataTable .pager {
	bottom: -52px;
	position: absolute;
	z-index: 10000;
}

.dataTable .pager td { border: 0px; }

.dataTable .odd, .dataTable .even { background: none transparent !important; }

.dataTable .odd td { background-color: #fff; }

.dataTable .even td { background-color: #efefef; }

.dataTables_scrollBody table thead { display: none; }

.dataTables_scrollBody table { border-top: 0 !important; }

.dataTables_scrollHead table { border-bottom: 0; }

.dataTables_scroll {
	clear: both;
	overflow: auto;
}

.dataTables_filter label input { background: url('../images/search.png') no-repeat 98% 50%; }

table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting { background-position: 96% center !important; }

.toolbar {
	float: left;
	font-weight: bold;
	line-height: 40px;
}

table.dataTable thead th, table.dataTable thead td {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody { border-bottom: 0 !important; }

/**/

#search td input[type="text"] { width: 150px; }



.loginBox {
	background: #fff;
	border: 2px solid #3151a1;
	box-shadow: 0px 0px 5px #000;
	left: 50%;
	margin: 0 auto;
	margin-left: -210px;
	margin-top: -150px;
	min-height: 300px;
	position: absolute;
	top: 50%;
	width: 420px;
}

.loginBox .logoHead {
	border-bottom: 2px solid #ee3338;
	padding: 5px 15px;
}

.loginBox input[type="text"], .loginBox input[type="password"] {
	background: transparent;
	border: 0;
	padding-left: 5px;
}

.loginBox .loginForm { padding: 15px; }

.loginBox .loginForm .loginUser, .loginBox .loginForm .loginPwd {
	background: #fff;
	border: 1px solid #cccccc;
	height: 40px;
	line-height: 40px;
	margin: 20px 0;
}

.loginBox .loginForm .loginUser label, .loginBox .loginForm .loginPwd label {
	background: #fafafa no-repeat 50%;
	border-right: 1px solid #ccc;
	display: inline-block;
	height: 40px;
	vertical-align: top;
	width: 40px;
}

.inline-block {
	display: inline-block;
	vertical-align: middle;
}

.width50 { width: 49%; }

.txtRight { text-align: right; }

.btn {
	border: 0;
	padding: 10px 15px;
}

.btn-primary {
	background-color: #3968C6;
	color: #FFFFFF;
	z-index: 2;
}

p.title {
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.loginBox .loginForm .loginDomain .domainIcon { background-image: url('../images/domainicon.jpg'); }

.loginBox .loginForm .loginUser .userIcon2 { background-image: url("../images/domainicon.jpg"); }

.loginBox .loginForm .loginUser .userIcon { background-image: url('../images/usericon.jpg'); }

.loginBox .loginForm .loginPwd .pwdIcon { background-image: url('../images/pwdicon.jpg'); }

.loginFooter {
	color: #fff;
	margin-top: 15px;
	position: absolute;
	text-align: center;
	width: 100%;
}

.loginBox input[type="text"], .loginBox input[type="password"], .loginBox select {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	font-size: 14px;
	outline: 0 none;
	padding-left: 5px;
	width: 85%;
}

.loginBox .loginForm .loginUser .emailIcon { background-image: url('../images/emailicon.png'); }


/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */

/* Css for New Blink starts here*/

.blink_me {
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-name: blinker;
	-moz-animation-timing-function: linear;
   
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: blinker;
	-webkit-animation-timing-function: linear;
   
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-name: blinker;
	animation-timing-function: linear;
}

@-moz-keyframes blinker {
	0% { opacity: 1.0; }

	50% { opacity: 0.0; }

	100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
	0% { opacity: 1.0; }

	50% { opacity: 0.0; }

	100% { opacity: 1.0; }
}

@keyframes blinker {
	0% { opacity: 1.0; }

	50% { opacity: 0.0; }

	100% { opacity: 1.0; }
}

.blink_me {
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-name: blinker;
	animation-timing-function: linear;
	color: red;
	font-weight: bold;
}


/* Blnks Css ends Here*/