div.imagePopUp { /*  display:none!important;*/ }

#backgroundPopup {
	background: #000000;
	height: 100%;
	  
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 9999;
}

#toPopup {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 10px solid #ccc;
	border-radius: 3px 3px 3px 3px;
	color: #333333;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	  
	font-size: 14px;
	height: 400px;
	left: 50%;
	margin-left: -402px;
	position: fixed;
	top: 20%;
	width: 700px;
	z-index: 99999;
}

div.loader {
	background: url("../Images/loading.gif") no-repeat scroll 0 0 transparent;
	display: none !important;
	height: 32px;
	left: 50%;
	margin-left: -10px;
	position: absolute;
	top: 40%;
	width: 32px;
	z-index: 9999;
}

div.close {
	background: url("../Images/closebox.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 30px;
	position: absolute;
	right: -27px;
	top: -24px;
	width: 30px;
}

span.ecs_tooltip {
	background: none repeat scroll 0 0 #000000;
	border-radius: 2px 2px 2px 2px;
	color: #FFFFFF;
	display: none !important;
	font-size: 11px;
	height: 16px;
	opacity: 0.7;
	padding: 4px 3px 2px 5px;
	position: absolute;
	right: -62px;
	text-align: center;
	top: -51px;
	width: 93px;
}

span.arrow {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 7px solid #000000;
	display: block;
	height: 1px;
	left: 40px;
	position: relative;
	top: 3px;
	width: 1px;
}

div#popup_content {
	margin: 4px 7px;
	/* remove this comment if you want scroll bar
75	    overflow-y:scroll;
76	    height:200px
77	    */
}

.page-content div .show { display: block !important; }

.page-content div .hide { display: none !important; }

.fileUpload {
	background-color: #efefef;
	border: 1px solid #AB00CC;
	font: Verdana 10px;
	font-family: Palatino Linotype, Arial, Helvetica, sans-serif;
	padding: 1px 4px;
	width: 73px !important;
}




/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */