i { font-size: 9px; }

.list-coloums {
	float: left;
	padding: 0 2px;
	width: 185px;
}

.list-coloums select {
	height: 120px;
	width: 185px;
}

.list-btn, .list-btn input[type="button"] {
	min-width: 0;
	width: 30px;
}

.list-btn input[type="button"] {
	margin: 1px 0;
	padding: 4px 0;
	*padding: 2px 0;
}

.list-btn { padding-top: 0px; }

.toPopup {
	border: 3px solid #BAC6F5;
	float: left;
	height: 100px;
	width: 105px;
}

.nobordTop { border-top: 0 !important; }

.fileUpload { width: 65px; }

.Content { padding: 0 5px; }

.dateWrap {
	padding: 2px 0;
	position: relative;
}

.calTble {
	background: #fff;
	background: #fff none;
	position: absolute;
	right: 0;
	z-index: 9999;
}

.calTble td { background: #fff !important; }

.dateIcon {
	position: absolute;
	right: 5px;
	top: 4px;
}

.borderforVisacountry { border: 1px solid #B0BEE0; }

.input-field span:last-child {
	display: inline-block;
	float: left;
}

.input-field span input, .input-field td input, .label td input { float: left; }

.input-field span label, .input-field td label, .label td label { line-height: 24px; }

.employee-listing input[type="text"] { width: 20%; }

.dataTables_filter {
	padding: 5px 0;
	text-align: left !important;
}

.dataTables_filter label { font-weight: bold; }

.dataTables_filter label input { width: 150px; }

.middlecontent { position: relative; }

.tblinfo {
	background: rgba(0, 0, 0, 0.6);
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #aaa;
	COLOR: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#9c000000', endColorstr='#9c000000');
	height: 60px;
	position: absolute;
	RIGHT: 0px;
	text-align: center;
	TOP: 170px;
	WIDTH: 100%;
}

.tblinfo h1 {
	font-size: 26px;
	margin: 0;
	padding: 0;
}

.linkmore {
	bottom: 10px;
	position: absolute;
	right: -8px;
}

.acordForm {
	min-height: 5px;
	position: relative;
}

.acordForm h2 { left: 35px; }

.mrgnMins15 { margin-top: -15px; }

.acordIcon {
	background: #fff none !important;
	border-left: #5169a1 2px solid !important;
	border-right: #5169a1 2px solid !important;
	color: #5169a1 !important;
	filter: none !important;
    
	font-size: 16px;
	font-weight: bold !important;
	left: 5px;
	min-width: 0 !important;
	padding: 2px !important;
	position: absolute;
	top: -14px;
	width: 22px !important;
}

/* Added for Project Closure*/

.progWrap { }

.progSteps {
	display: inline-block;
	font-size: 0;
}

.progSteps div {
	float: left;
	font-size: 11px;
	font-weight: bold;
}

.progSteps .sucess {
	background: transparent url(/images/icons/checkmark-dsbl.png) no-repeat 50%;
	color: #fff;
	height: 32px;
	position: relative;
	width: 32px;
	z-index: 9;
}

.progSteps.active .sucess { background: transparent url(/images/icons/checkmark.png) no-repeat 50%; }

/*.progSteps.active .sucess{
    border:2px solid #a3d39c;
    background:#005826;
    color:#fff;
}
.progSteps.active .sucess:after{
    content: '\2713';
    line-height:26px;
    font-size:18px;
    font-weight:bold;
}*/

.progSteps .lblDept {
	background: #E6E6E6;
	margin: 0 -15px;
	padding: 9px 30px;
}

.progSteps.active .lblDept { background: #CEF6CE; }

.tabs-menu { }

.tabs-menu ul, .tabs-menu li {
	list-style: none;
	margin: 0;
}

.tabs-menu li {
	background: #e0e0e0;
	border: 1px solid #ccc;
	border-bottom: 0;
	display: inline-block;
	min-width: 60px;
	padding: 4px 6px;
	text-align: center;
}

.tabs-menu li a {
	color: #333;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
}

.tabs-menu li.current {
	background-color: #fff;
	border-bottom: 1px solid #fff;
	position: relative;
	z-index: 5;
}

.tabs-menu li.current a { color: #000; }

.tab-content {
	border-top: 1px solid #ccc;
	display: none;
	margin-top: -1px;
}


/*End */